.episodes {
    border: teal double thin;
}

.episodes > a {
    text-decoration: none;
    color: darkviolet;
    background: -webkit-linear-gradient(0.45turn, darkorchid, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.episodes > a:hover {
    border-bottom: violet solid thin;
    margin: 1%;
    transition: .3s;
}
