.episodesPage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 1%;
    height: 80vh;
}

.buttons {
    text-align: center;
}

.buttons > button {
    margin: 15px;
    background-color: lightcyan;
    border-radius: 3px;
    border: blueviolet double thin;
}