.episodesPage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 1%;
}

.buttons {
    text-align: center;
}

.buttons > button {
    margin-left: 15px;
    margin-right: 15px;
}